/* =====================================================
    Receipt difficulty
   ===================================================== */
img.difficult{
    width:120px;
    height:120px;
    background:url("/whattocook/images/Difficulty.png") 0 0 no-repeat;
    background-size: auto 120px ;
}
img.medium{
    width:120px;
    height:120px;
    background:url("/whattocook/images/Difficulty.png") -165px 0 no-repeat;
    background-size: auto 120px ;
}
img.easy{
    width:120px;
    height:120px;
    background:url("/whattocook/images/Difficulty.png") -330px 0 no-repeat;
    background-size: auto 120px ;
}

/* =====================================================
    Receipt advices
   ===================================================== */
img.dairy{
    width:67px;
    height:67px;
    background:url("/whattocook/images/advices.png") 0 0 no-repeat;
    background-size: auto 150px ;
}
img.wheat{
    width:68px;
    height:67px;
    background:url("/whattocook/images/advices.png") -88px 0 no-repeat;
    background-size: auto 150px ;
}
img.egg{
    width:67px;
    height:67px;
    background:url("/whattocook/images/advices.png") 0 -83px no-repeat;
    background-size: auto 150px ;
}
img.vegetarian{
    width:67px;
    height:67px;
    background:url("/whattocook/images/advices.png") -88px -83px no-repeat;
    background-size: auto 150px ;
}