/* =====================================================
    general styles
   ===================================================== */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    padding-top: 100px;
}

/* =====================================================
    custom navigation styles (otherwise Bootstrap standard)
   ===================================================== */
.navbar, .form-control,.ingredientName,.ingredientsHeaderArea,.arrow, .btn ,.receiptDetails{
    font-family: 'Open Sans', sans-serif !important;
}

/* =====================================================
    background
   ===================================================== */
.background{
    background:url("../images/Italy-cuisine.jpg") no-repeat center;;
    background-size: cover;
    height:100%;
    width:100%;
    top: 20px;
    opacity: 0.5    ;
    position: fixed;
}

/* =====================================================
    loading indicator
   ===================================================== */
.spinner{
    position: relative !important;
    top:40% !important;
}

.loadingBackground{
    height: 200px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.9);
    left:40%;
    position: absolute;
    text-align: center;
}

.loadingBackground span{
    position: relative;
    top:130px;
    font-weight: bold;

}

/* =====================================================
    responsiveness stuff
   ===================================================== */
@media (min-width: 1200px){
    .col-lg-6 {
         width: 100%;
    }
}
@media (max-width: 900px){
    .background{
        background-size: 150%;
    }
}